@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700&family=Forum&family=EB+Garamond:wght@400;500;700&display=swap');

/* Apply the fonts to different sections */
body {
  /* font-family: 'EB Garamond', serif; */
  /* Default font for readability */
  color: #f8f6f2;
  /* Soft divine white for contrast */
  background-color: #121212;
  /* Dark background for epic feel */
  background-color: #121212;
  color: #ffffff;
  background-repeat: repeat;
  background-image: url('./images/tile.jpg');
}

/* Additional Styling for an Ancient Look */
.title-text {
  text-shadow: 2px 2px 8px rgba(255, 215, 0, 0.8);
  /* Golden glow */
}

.fighter-name {
  text-shadow: 1px 1px 5px rgba(0, 255, 255, 0.7);
  /* Ethereal cyan glow */
}

.lore-text {
  text-shadow: 1px 1px 4px rgba(255, 255, 255, 0.6);
  /* Slight mystical glow */
}

.choices__list {
  color: #111 !important;
  font-weight: bold;
}

.modal-header,
.modal-body {
  color: #121212;
}

.modal-title {
  text-transform: capitalize;
}

select {
  color: black !important;
}

.card {
  background-color: #1e1e1e;
  border: 1px solid #333333;
  color: #ffffff;
}

.btn-primary {
  background-color: #5a5cfa;
  border: none;
}

.btn-primary:hover {
  background-color: #4a4ce0;
}

.fighter-image {
  width: 72%;
  object-fit: cover;
  border-radius: 5px;
  border-radius: 18px;
  border: 9px solid #fff;
}

.form-select {
  background-color: #1e1e1e;
  color: #ffffff;
  border: 1px solid #333333;
}

.switch-label {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 1.1rem;
}

.stats-column {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 12px;
  margin-bottom: 5px;
}

.stat-item {
  display: flex;
  align-items: center;
  font-size: 12px;
  font-weight: bold;
  color: #333;
  padding: 3px;
  border: 1px solid #fff;
  border-radius: 26px;
  background-color: #fff;
}

.stat-item i {
  margin: 2px;
  font-size: 14px;
  color: #333;
}

#fighter2Bio,
#fighter1Bio {
  text-align: justify;
}